body {

    background-color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    height: 1000px;
}


header {

    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 18px;
}

header img {

    margin-bottom: 30px;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;

    color: gray;
    border: 2px solid transparent;

    height: 300px;
    gap: 50px;
}



li {

    height: 200px;
}


.container li img {

    width: 180px;
    height: 180px;

    border-radius: 10px;
}


p {

    margin-top: 10px;

    text-align: center;
    font-size: 18px;
}


li:hover {

    border: 2px solid white;
    border-radius: 12px;

    height: 184px;

    color: white;
}


section {

    display: flex;
    justify-content: center;
}

button {

    background-color: black;
    color: white;
    border: 2px solid gray;

    margin-top: 100px;
    padding: 9px 30px;

    font-size: 16px;
    border-radius: 3px;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button:hover {

    background-color: white;
    color: black;
}